
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h1>Yeni Kategori Eklemes Sayfası</h1>
<br />

<form method="post" class="form-group">
    <input type="text" placeholder="Kategori Adi" class="form-control" name="CategoryName" />
    <br />
    <input type="text" placeholder="Açıklama" class="form-control" name="CategoryDescription" />
    <br />
    <button class="btn btn-primary">Ekle</button>

</form>